nav ul {
    list-style-type: none;
    padding: 40;
    display: flex;
    gap: 40px;
  }
nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black; 
  }
  
  nav ul li a:hover {
    font-size: large; 
    color:crimson;
  }
  
  .services-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    height:500px;
    display: flex;
  }

  .links{
    font-size: larger;
    color:darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  